@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manuale:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Manuale', sans-serif;
    background-color: black;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin-right: 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em;
}

nav ul li a.active {
    background-color: #555;
    border-radius: 5px;
}

header::before { 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: black !important;
    background-image: url("../IMAGES/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: block;
    z-index: -10;
}

header {
    height: 100vh;
    position: relative;
}

header .logo {
    font-family: "Manuale", sans-serif;
    font-size: 3.75rem;
    color: #FFFFFF;
    background-color: black !important;
    margin: 83px 0 0 161px;
    font-weight: bold;
}

#secao-apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    gap: 5rem;
    background-color: #7A00E6;
}

.item-apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item-apresentacao img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.texto-apresentacao {
    margin-top: 10px;
    color: #FFFFFF;
}

.texto-apresentacao h2, .texto-apresentacao p {
    font-size: 1.25rem;
}

.sugestoes {
    height: 80vh;
    padding: 3rem;
    background-color: #fff;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sugestoes form {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

.campo {
    display: flex;
    flex-direction: column;
}

.linha {
    place-items: center;
}

label {
    font-family: "Nunito", sans-serif;
    font-size: 1.40rem;
}

input[type=text],
input[type=email] {
    background-color: #D9D9D9;
    border: none;
    border-radius: 50px;
    width: 483px;
    height: 50px;
    font-size: 1.80rem;
}

@media (max-width: 1000px) {
    input[type=text],
    input[type=email] {
        width: 240px;
        height: 40px;
    }
}

.sugestoes button {
    margin-top: 50px;
    background-color: #d54624;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
    width: 483px;
    height: 50px;
    font-size: 1.80rem;
    cursor: pointer;
}

.sugestoes h1 {
    font-family: "Nunito", sans-serif;
    font-size: 2.40rem;
    color: #7A00E6;
    font-weight: bold;
    margin-bottom: 50px;
}